<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agregar Ingreso / Egreso</h4>
            <p class="card-description">
              Especifique el monto y el tipo
            </p>

            <form [formGroup]='form' (ngSubmit)="onSubmit()">
              
              <div class="form-group">
                <label>Descripción</label>
                <input type="text" 
                       class="form-control" 
                       placeholder="Descripción"
                       name="description"
                       formControlName="description"
                       >
              </div>

              <div class="form-group">
                  <label>Monto</label>
                  <input type="number" 
                         class="form-control" 
                         placeholder="Monto"
                         formControlName="amount"
                         name="amount">
                    <p>
                      Debe de ser un monto positivo
                    </p>
                </div>

              <div class="form-group">
                  <label>Tipo</label>
                  <br>
                  <button type="button" (click)="type='egreso'" *ngIf="type==='ingreso'" class="btn btn-primary btn-block">Ingreso</button>
                  <button type="button" (click)="type='ingreso'" *ngIf="type==='egreso'" class="btn btn-warning btn-block">Egreso</button>
              </div>

              <hr>
              
            <div *ngIf="$loading | async as loading">

              <button *ngIf="!loading.isLoading" [disabled]="form.invalid" type="button" type="submit" class="btn btn-success mr-2">
                <i class="fa fa-save"></i>
                Agregar
              </button>
<!-- 
              <button *ngIf="loading.isLoading" class="btn btn-primary submit-btn btn-block" [disabled]="true">
                <i class="fa fa-spin fa-sync"></i>
                Espere Por Favor...
              </button> -->

              
                <button *ngIf="loading.isLoading" disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
             
              
              <button type="reset" class="btn btn-light">Cancelar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
</div>
          